.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
    color: white;
}

* {
    font-family: 'Roboto Mono',
        monospace;
    font-weight: bolder;
    color: white;

}

.row
{
    background-color: chocolate;
}

body
{
    background: linear-gradient(black,blue);
}

button
{
    background-color: black;
}

.grow:hover
{
     -webkit-transform: scale(1.3);
     -ms-transform: scale(1.3);
     transform: scale(1.3);
}

div a:hover
{
    color: red;
}

